<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
  <body>
    <div class="col-md-6">
      <div class="list-group">
        <a class="list-group-item" href="/user/"><i class="fa fa-home fa-fw" aria-hidden="true"></i>&nbsp; Home</a>
        <a routerLink="/editemployee/{{id}}" class="list-group-item" href="#"><i class="fa fa-book fa-fw" aria-hidden="true"></i>&nbsp; Editar</a>
        <a class="list-group-item" href="#"><i class="fa fa-pencil fa-fw" aria-hidden="true"></i>&nbsp; Opciones</a>
        <a class="list-group-item" href="#"><i class="fa fa-cog fa-fw" aria-hidden="true"></i>&nbsp; Salir</a>
      </div>
    </div>
  </body>
</html> 